/*Reset */

body, html{
  box-sizing: border-box;
  margin:0;
  padding:0;
}

/*Main content*/

body {
  align-items: center;
  background-color: #ffc107;
  font-family: 'Kalam';
  justify-content: center;
  min-height: 100vh;
}

img {
  height: 20rem;
  width: 24rem;
}

button {
  background-color: brown;
  color: white;
  font-family: 'Kalam';
  font-size: 1.7rem;
}
button:hover {
  background-color: white;
  color: brown;
}

.cont {
  border-color: brown;
  border-radius: 1rem;
  border-style: solid;
  border-width: thick;
}

.title {
  background-color: beige;
  color: brown;
  flex: 0 0 100%;
  font-size: 3rem;
  padding: 0 3rem;
}

#slogan {
  background-color: beige;
  color: brown;
  font-size: 2rem;
  margin-bottom: 2rem;
  padding: 0.5rem 1.5rem;
}

.wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}